.personal {
  &-page {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 100px;

    background-color: #ffc29c;
    background-image: url(../img/personal-page-bg.png);

    @media (max-width: 599px) {
      padding-right: 5px;
      padding-left: 5px;
    }

    * {
      box-sizing: border-box;
    }
  }

  &__wrap {
    max-width: 444px;
    margin: 0 auto;
    padding: 30px 0 50px;

    background: #ffffff;
    border-radius: 35px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  }

  &__inner {
    max-width: 309px;
    margin: 0 auto;
  }

  &__img-logo-wrap {
    margin-bottom: 32px;

    text-align: center;
  }

  &__img-logo {
    background: none;
  }

  &__entrance {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }

  &__entrance-link {
    font-size: 20px;
    line-height: 26px;
    color: #b3b3b3;
    text-decoration: none;

    &:hover {
      color: #666666;
    }

    &.active {
      color: #666666;

      border-bottom: 2px solid #4ab9d0;
    }
  }

  &__input-wrap {
    position: relative;

    display: flex;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    padding: 7px 41px;

    color: #777777;

    background: #fafafa;
    border: 1px solid #c4c4c4;
    border-radius: 3px;

    &::placeholder {
      color: #777777;
    }
  }

  &__input-radio {
    position: relative;
    // display: flex;
    // flex: 0 0 17px;

    width: 17px;
    height: 17px;
    margin-left: 10px;
    padding: 0;

    background-color: #fafafa;
    border: 1px solid #c4c4c4;
    border-radius: 50%;

    transition: border-color 0.15s ease-in-out, transform 0.15s ease-in-out;

    appearance: none;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 11px;
      height: 11px;

      line-height: 1;

      background-image: none;
      border-radius: 50%;
      transform: scale(0);

      transition: transform 0.15s ease-in-out;
      transition-delay: 0.1s;

      fill: #ffffff;
    }

    &:checked::after {
      background-color: #29a1ba;
      transform: scale(1);
    }
  }

  &__input-checked {
    position: absolute;
    top: 8px;
    left: 0;

    width: 17px;
    height: 17px;
    padding: 0;

    border: 2px solid #c4c4c4;
    cursor: pointer;

    transition: transform 0.15s ease-in-out;

    appearance: none;

    &::after {
      content: "\2713";
      position: absolute;
      top: 1px;
      left: 1px;

      font-weight: 900;
      font-size: 14px;
      line-height: 1;
      color: #29a1ba;

      transform: scale(0);
      cursor: pointer;

      transition: transform 0.15s ease-in-out;
      transition-delay: 0.01s;
    }

    &:checked::after {
      transform: scale(1);
    }
  }

  &__input-img {
    position: absolute;
    top: 11px;
    left: 12px;
  }

  &__input-img-radio {
    margin-right: 8px;
  }

  &__select {
    width: 78px;
    padding: 10px 10px 9px 10px;

    font-size: 14px;
    line-height: 15px;
    color: #777777;

    background: #fafafa;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
  }

  &__select:not(:last-child) {
    margin-right: 10px;
  }

  &__text {
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #aeaeae;

    a {
      color: #28a0b9;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin: 35px 0 15px;
  }

  &__btn-wrap-send {
    display: flex;
    justify-content: center;
    margin: 15px 0 0;
  }

  &__btn {
    min-width: 135px;
    height: 42px;
    padding: 0 32px;

    font-size: 18px;
    line-height: 19px;
    color: #ffffff;

    background: #28a0b9;
    border: none;
    border-radius: 38px;
    cursor: pointer;

    &:hover {
      background: #56bbcf;
    }
  }

  &__input-label-wrap.checkbox-wrap {
    position: relative;

    padding-left: 40px;

    .personal__input-label {
      color: #9a9a9a;
    }
  }

  &__input-label {
    font-size: 16px;
    line-height: 17px;
    color: #666666;

    span {
      color: #29a1ba;
    }
  }

  &__input-label-radio {
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 15px;
    color: #777777;
  }

  &__input-label-radio {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__tooltip-wrap {
    position: relative;

    display: inline-block;
  }

  &__tooltip {
    position: relative;
    top: 3px;

    width: 15px;
    height: 15px;
    margin-left: 2px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover + .personal__tooltip-text,
    &:focus + .personal__tooltip-text {
      display: block;
    }
  }

  &__tooltip-text {
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    z-index: 2;

    display: none;
    width: max-content;
    max-width: 200px;
    padding: 11px 17px;

    font-size: 12px;
    line-height: 13px;
    color: #777777;

    background: #ffffff;
    border: 1px solid #d9dbda;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 599px) {
      max-width: 170px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #9a9a9a;
  }

  &__desc {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #9a9a9a;

    a {
      color: #28a0b9;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__page-back-link-wrap {
    margin-top: 30px;

    text-align: center;
  }

  &__page-back-link {
    position: relative;

    padding-left: 39px;

    font-size: 16px;
    line-height: 17px;
    color: #bebebe;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;

      width: 28px;
      height: 28px;

      background: url(../img/ico-page-back.png) no-repeat;
    }

    &:hover {
      color: #464646;

      &::before {
        background: url(../img/ico-page-back-hov.png) no-repeat;
      }
    }
  }

  &__choices {
    width: 80px;
    margin-right: 10px;
    margin-bottom: 0;

    &::after {
      border-color: #7e7e7e transparent transparent !important;
    }

    &.is-open::after {
      margin-top: -7.5em;

      border-color: transparent transparent #7e7e7e !important;
    }

    &.pet {
      width: 100%;
      margin-right: 0;

      .choices__inner {
        padding: 8px 14px 7px 40px;
      }
    }

    .choices__placeholder {
      opacity: 1;
    }

    .choices__inner {
      min-height: auto;
      padding: 8px 14px 7px 14px;

      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #777777;

      background: #fafafa;
      border: 1px solid #c4c4c4;
      border-radius: 3px;
    }

    .choices__list--dropdown {
      border-radius: 0 0 3px 3px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .choices__list--dropdown .choices__item--selectable:after {
      content: none;
    }

    .choices__list--dropdown .choices__item.is-selected {
      color: #ffffff;

      background: #999999 !important;
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
      // color: #ffffff;
      background: #ececec;
    }

    .choices__list--dropdown .choices__item {
      padding: 4px 20px;

      font-size: 12px;
      line-height: 13px;
      color: #666666;
    }

    .choices__list--dropdown .choices__item.choices__placeholder {
      opacity: 0.5;
    }

    .choices__list {
      max-height: 107px;
      padding-right: 3px;
      -webkit-overflow-scrolling: touch;

      -ms-overflow-style: -ms-autohiding-scrollbar;
      overscroll-behavior: contain;
      scrollbar-color: #999999 transparent;
      scrollbar-width: thin;
    }
    .choices__list::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    .choices__list::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .choices__list::-webkit-scrollbar-thumb {
      background-color: #999999;
      border-radius: 2px;
    }
    .choices__list::-webkit-scrollbar-button {
      background-color: transparent;
      border-radius: 2px;
    }
    .choices__list::-webkit-scrollbar-thumb:hover {
      background-color: #777676;
    }
    .choices__list::-webkit-scrollbar-thumb:active {
      background-color: #777676;
    }
    .choices__list::-webkit-scrollbar-thumb:vertical {
      min-height: 100px;
    }
    .choices__list::-webkit-scrollbar-thumb:horizontal {
      min-width: 100px;
    }
  }
}
