.personal {
  &-page {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 100px;

    background-color: #ffc29c;
    background-image: url(../img/personal-page-bg.png);

    @media (max-width: 599px) {
      padding-right: 5px;
      padding-left: 5px;
    }

    * {
      box-sizing: border-box;
    }
  }

  &__wrap {
    max-width: 444px;
    margin: 0 auto;
    padding: 30px 0 50px;

    background: #ffffff;
    border-radius: 35px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  }

  &__inner {
    max-width: 309px;
    margin: 0 auto;
  }

  &__img-logo-wrap {
    margin-bottom: 32px;

    text-align: center;
  }

  &__img-logo {
    background: none;
  }

  &__entrance {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }

  &__entrance-link {
    font-size: 20px;
    line-height: 26px;
    color: #b3b3b3;
    text-decoration: none;

    &:hover {
      color: #666666;
    }

    &.active {
      color: #666666;

      border-bottom: 2px solid #4ab9d0;
    }
  }

  &__input-wrap {
    position: relative;

    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    padding: 7px 41px;

    color: #777777;

    background: #fafafa;
    border: 1px solid #c4c4c4;
    border-radius: 3px;

    &::placeholder {
      color: #777777;
    }
  }

  &__input-img {
    position: absolute;
    top: 11px;
    left: 12px;
  }

  &__text {
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: #aeaeae;

    a {
      color: #28a0b9;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin: 35px 0 15px;
  }

  &__btn {
    min-width: 135px;
    height: 42px;
    padding: 0 32px;

    font-size: 18px;
    line-height: 19px;
    color: #ffffff;

    background: #28a0b9;
    border: none;
    border-radius: 38px;
    cursor: pointer;

    &:hover {
      background: #56bbcf;
    }
  }

  &__input-label {
    font-size: 16px;
    line-height: 17px;
    color: #666666;

    span {
      color: #29a1ba;
    }
  }

  &__tooltip-wrap {
    position: relative;

    display: inline-block;
  }

  &__tooltip {
    position: relative;
    top: 3px;

    width: 15px;
    height: 15px;
    margin-left: 2px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover + .personal__tooltip-text,
    &:focus + .personal__tooltip-text {
      display: block;
    }
  }

  &__tooltip-text {
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    z-index: 2;

    display: none;
    width: max-content;
    max-width: 200px;
    padding: 11px 17px;

    font-size: 12px;
    line-height: 13px;
    color: #777777;

    background: #ffffff;
    border: 1px solid #d9dbda;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 599px) {
      max-width: 170px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #9a9a9a;
  }

  &__desc {
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #9a9a9a;
  }

  &__page-back-link-wrap {
    margin-top: 30px;

    text-align: center;
  }

  &__page-back-link {
    position: relative;

    padding-left: 39px;

    font-size: 16px;
    line-height: 17px;
    color: #bebebe;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;

      width: 28px;
      height: 28px;

      background: url(../img/ico-page-back.png) no-repeat;
    }

    &:hover {
      color: #464646;

      &::before {
        background: url(../img/ico-page-back-hov.png) no-repeat;
      }
    }
  }
}
